{% extends "default.html" %}

{%block body%}
 <style>
            table {
                margin: 0 auto; /* центровка */
                border: 1px solid black; /* рамка вокруг таблицы */
            }
    </style>
    <table style="text">
        <tbody>
            <tr>
                <td>Имя</td>
                <td>Время присоедения</td>
                <td>Монетки</td>
            </tr>
            </tbody>
    </table>

        {% if players %}
            <table>
            {% for u in players %}
                <tr>
                    <td>{{u.name}}</td>
                    <td>{{u.joined_time}}</td>
                    <td>{{u.coins_collected}}</td>
                </tr>

            {% endfor %}
            </table>
        {% endif %}
{%endblock%}
